@page "/documenttypes/crud/{mode}"
@page "/documenttypes/crud/{mode}/{recordId:int}"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using SlugEnt.DocumentServer.Models.Entities
@using SlugEnt.DocumentServer.Models.Enums
@using SlugEnt.DocumentServer.Db
@using global::DocumentServer.Core
@inherits AbstractCRUDComponent


@inject DocServerDbContext DB
@inject DocumentServerEngine docEngine


<h1>@_pageTitle</h1>
<hr/>
<RadzenRow Gap="1rem">
    <RadzenColumn Size="12" SizeSM="6">
        @if (_errMsg != string.Empty)
        {
            <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@_errVisible" Text="@_errMsg"></RadzenAlert>
        }
        @if (_successMsg != string.Empty)
        {
            <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Success" Variant="Variant.Flat" Shade="Shade.Lighter" Text="@_successMsg"></RadzenAlert>
        }

        <RadzenStack>

            <RadzenFormField Text="Name" Variant="@radDisplay" Style="width: 100%; max-width: 500px">
                <RadzenTextBox @bind-Value="@_documentType.Name" ReadOnly="@_canEdit"/>
            </RadzenFormField>
            

            <RadzenFormField Text="Description" Variant="@radDisplay" Style="width: 100%">
                <RadzenTextBox @bind-Value="@_documentType.Description" ReadOnly="@_canEdit"/>
            </RadzenFormField>


            <RadzenFormField Text="Storage Folder Name" Variant="@radDisplay" Style="width: 100%">
                <RadzenTextBox @bind-Value="@_documentType.StorageFolderName" ReadOnly="@_canEdit"/>
            </RadzenFormField>


            <RadzenFormField Text="Application Associated With" Variant="@radDisplay" Style="max-width: 200px">
                <RadzenDropDown Data="@_applications"@bind-Value="@_documentType.ApplicationId" TextProperty="Name" ValueProperty="Id" Style="" Name="DropDownBindValue" ReadOnly="@_canEdit" Disabled="@_isDisabled" Change="@AppChanged"/>
            </RadzenFormField>


            <RadzenFormField Text="Primary Root Object Associationh" Variant="@radDisplay" Style="max-width: 200px">
                <RadzenDropDown Data="@_rootObjects"@bind-Value="@_documentType.RootObjectId" TextProperty="Name" ValueProperty="Id" Style="" Name="DropDownBindValue" ReadOnly="@_canEdit" Disabled="@_isDisabled"/>
            </RadzenFormField>


            <RadzenFormField Text="Storage Mode" Variant="@radDisplay" Style="max-width: 200px">
                <RadzenDropDown Data="@(Enum.GetValues(typeof(EnumStorageMode)).Cast<Enum>())" @bind-Value="@_documentType.StorageMode"
                                AllowClear="false" AllowFiltering="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Style="" Name="DropDownStorageMode"/>
            </RadzenFormField>


            <RadzenFormField Text="Document Lifetime" Variant="@radDisplay" Style="max-width: 200px">
                <RadzenDropDown Data="@(Enum.GetValues(typeof(EnumDocumentLifetimes)).Cast<Enum>())" @bind-Value="@_documentType.InActiveLifeTime"
                                AllowClear="false" AllowFiltering="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Style="" Name="DropDownDocLifetime"/>
            </RadzenFormField>

            <RadzenFormField Text="Primary Storage Node" Variant="@radDisplay" Style="max-width: 260px">
                <RadzenDropDown Data="@_storageNodes" @bind-Value="@_documentType.ActiveStorageNode1Id" TextProperty="Name" ValueProperty="Id" Style="" Name="DropDownBindValue" ReadOnly="@_canEdit" Disabled="@_isDisabled"/>
            </RadzenFormField>


        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" Class="rz-mt-8 rz-mb-4">
            @if (_isCreateMode)
            {
                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Create" Click="@AddEntity"/>
            }
            else if (_isEditMode)
            {
                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save Changes" Click="@UpdateEntity"/>
            }
            else if (_isDeleteMode)
            {
                <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="delete" Text="Confirm Deletion" Click="@DeleteEntity"/>
            }
            else if (_wasDeleted)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Success" Size="ButtonSize.Large" Icon="check_circle" Text="Return To List" Click="@ReturnToList"/>
            }
            @if (_isCreateMode || _isEditMode || _isDeleteMode)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel"/>
            }

        </RadzenStack>

    </RadzenColumn>
</RadzenRow>


@code {


    private DocumentType             _documentType = new();
    private IEnumerable<Application> _applications;
    private IEnumerable<RootObject>  _rootObjects  = Enumerable.Empty<RootObject>();
    private IEnumerable<StorageNode> _storageNodes = Enumerable.Empty<StorageNode>();



    // Constructor
    public Crud() : base("Document Type","documenttypes") { }


    /// <summary>
    ///     Method invoked when the component is ready to start, having received its
    ///     initial parameters from its parent in the render tree.
    ///     Override this method if you will perform an asynchronous operation and
    ///     want the component to refresh when that operation is completed.
    /// </summary>
    /// <returns>A <see cref="T:System.Threading.Tasks.Task" /> representing any asynchronous operation.</returns>
    protected override async Task OnInitializedAsync()
    {
        if (_isInitializeed)
            return;

        await base.OnInitializedAsync();
        _isInitializeed = true;
    }


    /// <summary>
    ///     Do after parameter set stuff, such as load the entity record, etc
    /// </summary>
    /// <returns></returns>
    protected override async Task PostSetParametersAsync()
    {
        // Load list of Applications only once and only for Create mode
        if (_isCreateMode)
        {
            _applications = DB.Applications;
            _storageNodes = DB.StorageNodes.Where(sn => sn.IsActive == true);
            _rootObjects  = DB.RootObjects.Where(ro => ro.IsActive == true);
        }
        else
        {
            bool retrieveRecord = _documentType == null || _documentType.Id != recordId ? true : false;

            if (retrieveRecord)
            {
                _documentType = DB.DocumentTypes.SingleOrDefault(dt => dt.Id == recordId);
                DB.RootObjects.Where(ro => ro.Id == _documentType.RootObjectId);
                DB.StorageNodes.Where(sn => sn.Id == _documentType.ActiveStorageNode1Id);
                DB.Applications.Where(ap => ap.Id == _documentType.ApplicationId);
            }
        }
    }


    public void AppChanged() { _rootObjects = DB.RootObjects.Where(ro => ro.ApplicationId == _documentType.ApplicationId); }


    /// <summary>
    ///     Creates a new RootObject
    /// </summary>
    /// <returns></returns>
    public async Task AddEntity()
    {
        await DB.DocumentTypes.AddAsync(_documentType);
        await DB.SaveChangesAsync();
        ReturnToList();
    }


    /// <summary>
    ///     Updates the RootObject
    /// </summary>
    /// <returns></returns>
    public async Task UpdateEntity()
    {
        DB.DocumentTypes.Update(_documentType);
        await DB.SaveChangesAsync();
        _successMsg = string.Format("RootObject {0} [ {1} ] was successfully updated.", _documentType.Name, _documentType.Id);
    }


    /// <summary>
    ///     Deletes the RootOBject
    /// </summary>
    /// <returns></returns>
    public async Task DeleteEntity()
    {
        /*
        bool result = await docEngine.DocRootObjectDeleteAsync(_rootObject.Id);
        if (result)
        {
            _successMsg = String.Format("RootObject {0} [ {1} ] was successfully inactivated.", _rootObject.Name, _rootObject.Id);
            _wasDeleted = true;
            _isDeleteMode = false;
        }
        else
            _errMsg = string.Format("RootObject was not inactivated.  Unknown reason.");
            */
    }


}