@page "/documenttypes/details"
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@using global::SlugEnt.DocumentServer.Db
@using global::SlugEnt.DocumentServer.Models.Entities
@inject DocServerDbContext DB


<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>DocumentType</h4>
    <hr />
    @if (documenttype is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@documenttype.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@documenttype.Description</dd>
            <dt class="col-sm-2">StorageFolderName</dt>
            <dd class="col-sm-10">@documenttype.StorageFolderName</dd>
            <dt class="col-sm-2">StorageMode</dt>
            <dd class="col-sm-10">@documenttype.StorageMode</dd>
            <dt class="col-sm-2">InActiveLifeTime</dt>
            <dd class="col-sm-10">@documenttype.InActiveLifeTime</dd>
            <dt class="col-sm-2">RootObjectId</dt>
            <dd class="col-sm-10">@documenttype.RootObjectId</dd>
            <dt class="col-sm-2">AllowSameDTEKeys</dt>
            <dd class="col-sm-10">@documenttype.AllowSameDTEKeys</dd>
            <dt class="col-sm-2">ActiveStorageNode1Id</dt>
            <dd class="col-sm-10">@documenttype.ActiveStorageNode1Id</dd>
            <dt class="col-sm-2">ActiveStorageNode2Id</dt>
            <dd class="col-sm-10">@documenttype.ActiveStorageNode2Id</dd>
            <dt class="col-sm-2">ArchivalStorageNode1Id</dt>
            <dd class="col-sm-10">@documenttype.ArchivalStorageNode1Id</dd>
            <dt class="col-sm-2">ArchivalStorageNode2Id</dt>
            <dd class="col-sm-10">@documenttype.ArchivalStorageNode2Id</dd>
            <dt class="col-sm-2">CreatedAtUTC</dt>
            <dd class="col-sm-10">@documenttype.CreatedAtUTC</dd>
            <dt class="col-sm-2">ModifiedAtUTC</dt>
            <dd class="col-sm-10">@documenttype.ModifiedAtUTC</dd>
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@documenttype.IsActive</dd>
        </dl>
        <div>
            <a href="@($"/documenttypes/edit?id={documenttype.Id}")">Edit</a> |
            <a href="@($"/documenttypes")">Back to List</a>
        </div>
    }
</div>

@code {
    DocumentType? documenttype;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        documenttype = await DB.DocumentTypes.FirstOrDefaultAsync(m => m.Id == Id);

        if (documenttype is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
