@page "/serverhosts"
@using SlugEnt.DocumentServer.Db
@using SlugEnt.DocumentServer.Models.Entities
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject DocServerDbContext DB
@inject NavigationManager NavigationManager

<PageTitle>Server Hosts</PageTitle>

<h1>Server Hosts</h1>

<RadzenButton ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Icon="label" Text="Add New" Click="@AddNew"/>

<div>
    <RadzenCheckBox @bind-Value="@SetIsActive" Name="cb1"/>
    <RadzenLabel Text="Show Inactive Server Hosts" Component="cb1" Style="margin-left: 8px;"></RadzenLabel>
</div>


<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@_serverHosts"  TItem="ServerHost" ColumnWidth="60px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" @bind-Value="@_selectedHosts">
    <Columns>

        <RadzenDataGridColumn Width="120px" TItem="ServerHost" Property="ID" Title="Actions">
            <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="info"  Click=@(() => OnDetails(data.Id)) Text="Details"/>
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" Icon="edit"  Click=@(() => OnEdit(data.Id)) Text="Edit"/>

                <RadzenIcon Icon="info" IconColor="@Colors.Info" class="m-1" Click=@(() => OnDetails(data.Id)) Text="Details"/>
                <RadzenIcon Icon="edit" IconColor="@Colors.Danger" class="m-1" Click=@(() => OnEdit(data.Id)) Text="Edit"/>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="200px" TItem="ServerHost" Property="NameDNS" Title="DNS Name" Filterable="false" Frozen="true" TextAlign="TextAlign.Left"/>
        <RadzenDataGridColumn Width="250px" TItem="ServerHost" Property="FQDN" Title="Fully Qualified Domain Name" Frozen="true" Sortable="false" Filterable="false" TextAlign="TextAlign.Left"/>
        <RadzenDataGridColumn Width="250px" TItem="ServerHost" Property="Path" Title="Folder Path on Server" Frozen="true" Sortable="false" Filterable="false" TextAlign="TextAlign.Left"/>
        <RadzenDataGridColumn Width="75px" TItem="ServerHost" Property="IsActive" Title="Active" Frozen="true">
            <Template>
                <RadzenCheckBox @bind-Value=@context.IsActive ReadOnly="true"></RadzenCheckBox>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Width="75px" TItem="StorageNode" Property="IsTestNode" Title="Is Test" Frozen="true">
            <Template>
                <RadzenCheckBox @bind-Value=@context.IsTestNode ReadOnly="true"></RadzenCheckBox>
            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn Width="150px" TItem="ServerHost"></RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


@code
{
    protected IEnumerable<ServerHost> _serverHosts = Enumerable.Empty<ServerHost>();
    protected IList<ServerHost>?      _selectedHosts;
    protected bool                    _showInActive;
    private   string                  _pageReferenceName = "serverhosts";

    protected bool SetIsActive
    {
        get { return _showInActive; }
        set
        {
            _showInActive = value;
            LoadServerHostsAsync(_showInActive);
        }
    }

    protected Variant radDisplay = Variant.Outlined;


    protected override async Task OnInitializedAsync()
    {
        await LoadServerHostsAsync();

        await base.OnInitializedAsync();
    }


    public async Task ShowInactive(bool value) { await LoadServerHostsAsync(_showInActive); }



    public async Task LoadServerHostsAsync(bool showInActive = false)
    {
        if (!showInActive)
            _serverHosts = await DB.ServerHosts.Where(sn => sn.IsActive == true).ToListAsync();
        else
            _serverHosts = await DB.ServerHosts.Where(sn => sn.IsActive == false).ToListAsync();
    }


    protected void AddNew() { NavigationManager.NavigateTo("serverhosts/crud/C"); }

    protected void OnEdit(int Id) { NavigationManager.NavigateTo(_pageReferenceName + "/CRUD/E/" + Id); }
    protected void OnDetails(int Id) { }
}